# Logs
*.log

# Dependency directories
**/node_modules/

# Build outputs
**/dist/
**/dist-ssr/

# Environment files
**/.env
**/.env.*
!**/.env.example

# IDEs and editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.ideavo/project
